@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    font-family: Inter, Helvetica, Arial, sans-serif;
    --scrollbar-width: 17px;
}

@media (max-aspect-ratio: 16/9) {
    .app-container {
        width: 60vw;
        height: calc(9/16 * 60vw);
        max-width: calc(0.6 * 2400px);
        max-height: calc(0.6 * 2400px * 9/16);
        min-width: calc(0.6 * 800px);
        min-height: calc(0.6 * 800px * 9/16);
    }
    .month-selection-popup {
        width: 24.3vw;
        height: calc(5/4 * 24.3vw);
        max-width: calc(0.243 * 2400px);
        max-height: calc(0.243 * 2400px * 5/4);
        min-width: calc(0.243 * 800px);
        min-height: calc(0.243 * 800px * 5/4);
    }
    :root {
        --gutter: clamp(5px, calc(9/16 * 60vw * 1/60), 15px);
    }
}

@media (min-aspect-ratio: 16/9) {
    .app-container {
        height: 60vh;
        width: calc(16/9 * 60vh);
        max-height: calc(0.6 * 1350px);
        max-width: calc(0.6 * 1350px * 16/9);
        min-height: calc(0.6 * 450px);
        min-width: calc(0.6 * 450px * 16/9);
    }
    .month-selection-popup {
        height: 54vh;
        width: calc(4/5 * 54vh);
        max-height: calc(0.54 * 1350px);
        max-width: calc(0.54 * 1350px * 4/5);
        min-height: calc(0.54 * 450px);
        min-width: calc(0.54 * 450px * 4/5);
    }
    :root {
        --gutter: clamp(5px, calc(60vh * 1/60), 15px);
    }
}

:root {
    scroll-behavior: smooth;
    --half-gutter: calc(var(--gutter) / 2);
    --double-gutter: calc(var(--gutter) * 2);
    --threefourth-gutter: calc(var(--gutter) * 0.75);
    --threehalf-gutter: calc(var(--gutter) * 1.5);
    --three-gutter: calc(var(--gutter) * 3);
    --four-gutter: calc(var(--gutter) * 4);
    --highlight-color: #34e;
    --weaker-highlight-color: #6976EA;
    color: #222;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.everything-container {
    background: linear-gradient(-35deg, #1B27B5, #505BB2);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    border-radius: var(--four-gutter);
    padding: var(--three-gutter);
}



.calendar-section {
    display: flex;
    flex-flow: column nowrap;
    width: calc((100% - 3.75 * var(--gutter)) * 0.55);
    height: 100%;
}

.month-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 var(--four-gutter);
    margin-bottom: var(--gutter);
    font-size: var(--three-gutter);
    font-weight: bold;
}

.month-title {
    border-radius: var(--four-gutter) var(--four-gutter) var(--four-gutter) var(--four-gutter);
    padding: 0 var(--double-gutter);
}

.month-title:hover {
    color: white;
    background-color: var(--weaker-highlight-color);
}

.month-title:active {
    color: white;
    background-color: var(--highlight-color);
}

.month-button {
    padding: 0 var(--gutter);
    border-radius: var(--four-gutter);
}

.month-button:hover {
    color: white;
    background-color: var(--weaker-highlight-color);
}

.month-button:active {
    color: white;
    background-color: var(--highlight-color);
}

.month-week-divider {
    background-color: gray;
    height: var(--threefourth-gutter);
    width: calc(100% - var(--threehalf-gutter));
    border-radius: var(--gutter);
    position: relative;
    left: var(--gutter);
}

.week-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: var(--half-gutter) 0;
    width: calc(100% + var(--gutter));
    position: relative;
    right: var(--half-gutter);
    font-weight: 700;
    font-size: calc(var(--gutter) * 2.25);
}

.week-header>div {
    text-align: center;
    color: gray;
}

.date-section {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gutter);
}

.week {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    gap: var(--gutter);
    height: calc(100% - 6 * var(--gutter) / 7);
}

.day {
    background-color: lightgray;
    flex-grow: 1;
    border-radius: var(--double-gutter);
    width: calc(100% - 6 * var(--gutter) / 7);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: var(--gutter);
}

.day:hover {
    background-color: var(--weaker-highlight-color);
    color: white;
}

.day:active {
    background-color: var(--highlight-color);
    color: white;
}

.day-text {
    font-weight: 700;
    font-size: var(--double-gutter);
    pointer-events: none;
}

.day-content {
    pointer-events: none;
}

.non-month-day {
    background-color: lightslategray;
}

.selected-day, .selected-day:hover {
    background-color: var(--highlight-color);
    color: white;
}

.section-divider {
    background-color: gray;
    width: var(--threefourth-gutter);
    height: 100%;
    border-radius: var(--half-gutter);
    margin: 0 var(--threehalf-gutter);
}

.todo-section {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    width: calc((100% - 3.75 * var(--gutter)) * 0.45);
    overflow: hidden;
}

.day-title {
    font-size: var(--three-gutter);
    font-weight: 600;
    padding-bottom: var(--half-gutter);
}

.add-task-button {
    height: calc(4 * var(--gutter));
    background-color: lightgray;
    border-radius: var(--double-gutter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: calc(2 * var(--gutter));
    font-weight: 700;
    color: #333;
}

.add-task-button:hover {
    background-color: var(--weaker-highlight-color);
    color: white;
}

.add-task-button:active {
    background-color: var(--highlight-color);
    color: white;
}

.add-task-part {
    padding: 0 calc(0.1 * var(--gutter));
}

.gradient-positioner {
    width: 100%;
    height: 0px;
    position: relative;
    top: calc(0.5 * var(--gutter));
    overflow: visible;
}

.gradient {
    position: absolute;
    height: var(--double-gutter);
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0));
    width: 100%;
    pointer-events: none;
}

.bottom-gradient-positioner {
    width: 100%;
    height: 0px;
    position: relative;
    bottom: calc(3 * var(--gutter));
    overflow: visible;
}

.bottom-gradient {
    position: absolute;
    height: var(--three-gutter);
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
    width: 100%;
    pointer-events: none;
}

.task-section {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: calc(100% + var(--scrollbar-width));
    padding-top: var(--half-gutter);
    margin-top: var(--half-gutter);
}

.task {
    font-size: var(--double-gutter);
    padding: var(--half-gutter);
    border-width: var(--half-gutter);
    border-color: lightgrey;
    border-style: solid;
    border-radius: calc(var(--gutter) * 2);
    background-color: white;
    width: 100%;
    margin-top: var(--gutter);
    display: flex;
    align-items: center;
}

.task-icon {
    height: calc(100% - var(--half-gutter));
    width: calc(var(--gutter) * 2.5);
    border-radius: var(--threehalf-gutter);
    border: var(--half-gutter) solid var(--highlight-color);
    margin-left: calc(var(--gutter) * 0.25);
    margin-right: var(--half-gutter);
}

.task-icon:hover {
    background-color: var(--weaker-highlight-color);
}

.task-icon:active {
    background-color: var(--highlight-color);
}

.task-delete-icon {
    height: calc(100% - var(--half-gutter));
    width: calc(var(--gutter) * 2.5);
    border-radius: var(--threehalf-gutter);
    border: var(--half-gutter) solid red;
    margin-right: calc(var(--gutter) * 0.25);
    margin-left: var(--half-gutter);
}

.task-delete-icon:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.task-delete-icon:active {
    background-color: red;
}

.task-content {
    flex-grow: 1;
    flex-basis: auto;
    word-break: break-word;
    max-width: calc(100% - 6.5 * var(--gutter));
    border: 0;
    outline: 0;
    font-weight: 500;
    border-radius: var(--gutter);
    padding: 0 var(--half-gutter);

    /* -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto; */
}

.task-content:hover:not(:focus) {
    background-color: #eee;
}

.checked-task {
    font-style: italic;
    color: darkgrey;
    text-decoration: line-through;
    text-decoration-thickness: calc(0.25 * var(--gutter));
}

.checked-task-icon {
    background-color: var(--highlight-color);
}

.universal-blur-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 2;
}

div.hidden-popup {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
}

.month-selection-popup {
    background-color: white;
    z-index: 3;
    position: absolute;
    border-radius: var(--four-gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--double-gutter);
}
.year-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--gutter);
    align-items: center;
    font-size: var(--three-gutter);
    font-weight: 600;
}

.year-button {
    padding: 0 var(--gutter);
    border-radius: var(--four-gutter);
}

.year-button:hover {
    color: white;
    background-color: var(--weaker-highlight-color);
}

.year-button:active {
    color: white;
    background-color: var(--highlight-color);
}

.month-selection-divider {
    background-color: gray;
    height: var(--gutter);
    width: calc(100% - var(--gutter));
    border-radius: var(--gutter);
    margin: var(--gutter) 0;
}

.month-selection-container {
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--gutter);
}

.month-row {
    flex-grow: 1;
    width: 100%;
    gap: var(--gutter);
    display: flex;
    flex-direction: row;
    height: calc(100% - 3 * var(--gutter) / 4);
}

.month-cell {
    flex-grow: 1;
    height: 100%;
    background-color: lightgray;
    border-radius: var(--three-gutter);
    width: calc(100% - 2 * var(--gutter) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-cell:hover {
    background-color: var(--weaker-highlight-color);
    color:white;
}

.month-cell:active {
    background-color: var(--highlight-color);
    color:white;
}

.month-cell-text {
    font-size: calc(2.5 * var(--gutter));
    font-weight: 700;
    pointer-events: none;
}

.selected-month-cell, .selected-month-cell:hover{
    background-color: var(--highlight-color);
    color: white;
}

.flip-x {
    transform: scale(-1, 1);
}

